<%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>
    <%- include('../partials/navigations') %>
    
    <h1>My Account</h1>
    <p>Name: <%= account.account_firstname %> <%= account.account_lastname %></p>
<p>Email: <%= account.account_email %></p>

    <a href="/">Back to Home</a>
</body>

</html>