<%- include('../partials/head.ejs') %>
<%- include('../partials/header') %>
<%- include('../partials/navigations') %>

    <h1>Account Management</h1>

    <% if (account.account_type==='Client' ) { %>
        <h2>Welcome <%= account.firstname %>
        </h2>
        <% } else if (account.account_type==='Employee' || account.account_type==='Admin' ) { %>
            <h2>Welcome <%= account.firstname %>
            </h2>
            <a href="/accounts/update/<%= account.account_id %>">Update Account Information</a>
            <h3>Inventory Management</h3>
            <p><a href="/inventory/manage">Go to Inventory Management</a></p>
            <% } %>

                <% if (account.account_type==='Client' ) { %>
                    <a href="/accounts/update/<%= account.account_id %>">Update Account Information</a>
                    <% } %>


                        <%- include('../partials/footer.ejs') %>