<%- include('../partials/head.ejs') %>
<%- include('../partials/header') %>
<%- include('../partials/navigations') %>

    <h1>Update Account Information</h1>

    <% if (message) { %>
        <p>
            <%= message %>
        </p>
        <% } %>
            <% if (errors && errors.length> 0) { %>
                <ul>
                    <% errors.forEach(error=> { %>
                        <li>
                            <%= error.msg %>
                        </li>
                        <% }); %>
                </ul>
                <% } %>

                    <form action="/accounts/update" method="POST" novalidate>
                        <input type="hidden" name="account_id" value="<%= account.account_id %>" />

                        <label for="firstname">First Name</label>
                        <input id="firstname" name="firstname" type="text" value="<%= account.firstname %>" required />

                        <label for="lastname">Last Name</label>
                        <input id="lastname" name="lastname" type="text" value="<%= account.lastname %>" required />

                        <label for="email">Email</label>
                        <input id="email" name="email" type="email" value="<%= account.email %>" required />

                        <input type="submit" value="Update Account" />
                    </form>

                    <h1>Change Password</h1>

                    <form action="/accounts/update-password" method="POST" novalidate>
                        <input type="hidden" name="account_id" value="<%= account.account_id %>" />

                        <label for="newpassword">New Password</label>
                        <input id="newpassword" name="newpassword" type="password" required
                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                            title="Password must be at least 8 characters, contain uppercase, lowercase, and a digit." />
                        <small>Enter a new password to change your current password.</small>

                        <input type="submit" value="Change Password" />
                    </form>

                    <%- include('../partials/footer.ejs') %>