<%- include('../partials/head') %>
<%- include('../partials/header') %>
<%- include('../partials/navigations') %>

    <main>
        <p>
            <%= message %>
        </p>
        <a href="/">Return to Home</a>
    </main>
    <%- include('../partials/footer') %>